# Problem Statement

### Marketplace Feature Table 

Your **Client ComZ** is an ecommerce company. The company wants to focus on targeting the right **customers**  with the right products to increase overall revenue and conversion rate.

To target the right customers with the right products, they need to build an ML model for marketing based on user interaction with products in the past like number of views,  most viewed product, number of activities of user, vintage of user and others. 

ComZ has contacted the Data Science and Engineering team to use this information to fuel the personalized advertisements, email marketing campaigns, or special offers on the landing and category pages of the company's website.

You, being a part of the data engineering team, are expected to **“Develop input features”**  for the efficient marketing model given the **Visitor log data** and **User Data**.

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

## Data Overview

In [2]:
#Load and read the visitor log dataset
visitor_log_df = pd.read_csv('VisitorLogsData.csv')
visitor_log_df

,webClientID,VisitDateTime,ProductID,UserID,Activity,Browser,OS,City,Country
0,WI10000050298,2018-05-07 04:28:45.970,pr100631,NaN,NaN,Chrome Mobile,Android,Chennai,India
1,WI10000025922,2018-05-13 07:26:04.964,pr100707,NaN,NaN,Chrome,Windows,NaN,Taiwan
2,WI100000204522,2018-05-11 11:43:42.832,pr100030,NaN,click,Chrome,windows,Gurgaon,India
3,WI10000011974,2018-05-13 15:20:23.436,Pr100192,NaN,CLICK,Chrome,Windows,,
4,WI100000441953,2018-05-08 20:44:25.238,Pr100762,NaN,click,Chrome,mac os x,Iselin,United States
...,...,...,...,...,...,...,...,...,...
6587995,WI100000406653,2018-05-21 07:14:03.231,pr100008,NaN,pageload,Chrome,Windows,NaN,NaN
6587996,WI100000159562,2018-05-25 09:13:04.011,Pr100307,NaN,click,Chrome,Windows,NaN,France
6587997,WI100000215596,NaN,Pr100147,NaN,NaN,Chrome,Windows,Durgapur,India
6587998,WI100000174318,2018-05-20 12:09:35.347,pr100728,NaN,pageload,Chrome Mobile,Android,Coimbatore,India
6587999,WI100000822905,2018-05-17 03:30:22.330,Pr101148,NaN,click,Safari,Mac OS X,NaN,Australia

In [3]:
#Load and read the user dataset
user_df = pd.read_csv('userTable.csv')
user_df

        UserID                       Signup Date User Segment
0      U133159  2018-04-14 07:01:16.202607+00:00            C
1      U129368  2017-12-02 09:38:41.584270+00:00            B
2      U109654         2013-03-19 11:38:55+00:00            B
3      U108998  2018-01-18 08:29:51.627954+00:00            C
4      U131393  2018-03-27 08:05:28.806800+00:00            B
...        ...                               ...          ...
34045  U134073  2018-03-19 12:35:10.857456+00:00            B
34046  U113667  2018-02-28 08:29:22.966713+00:00            B
34047  U128470  2018-03-04 13:03:12.828673+00:00            B
34048  U104005  2018-01-22 16:16:35.289000+00:00            B
34049  U125524  2017-12-12 09:10:16.457806+00:00            B

[34050 rows x 3 columns]

In [4]:
#Info of the two datasets
visitor_log_df.info()
print('\n------------------------------------------\n')
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6588000 entries, 0 to 6587999
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   webClientID    object
 1   VisitDateTime  object
 2   ProductID      object
 3   UserID         object
 4   Activity       object
 5   Browser        object
 6   OS             object
 7   City           object
 8   Country        object
dtypes: object(9)
memory usage: 452.4+ MB

------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34050 entries, 0 to 34049
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UserID        34050 non-null  object
 1   Signup Date   34050 non-null  object
 2   User Segment  34050 non-null  object
dtypes: object(3)
memory usage: 798.2+ KB

In [5]:
#Null values in the dataset
visitor_log_df.isnull().sum()

webClientID            0
VisitDateTime     658915
ProductID         527137
UserID           5937305
Activity          889446
Browser                0
OS                     0
City             2165831
Country           397693
dtype: int64

In [6]:
user_df.isnull().sum()

UserID          0
Signup Date     0
User Segment    0
dtype: int64

## Data Cleaning

### We will keep only the rows with the registered users i.e where the UserID column is not null.

In [7]:
visitor_log_df = visitor_log_df[visitor_log_df.UserID.notna()]

In [8]:
visitor_log_df.isnull().sum()

webClientID           0
VisitDateTime     64803
ProductID         51963
UserID                0
Activity          87757
Browser               0
OS                    0
City             236124
Country           42827
dtype: int64

In [9]:
visitor_log_df.drop(['webClientID','City','Country'], axis=1, inplace=True)

C:\Users\ASUS\Anaconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
visitor_log_df

,VisitDateTime,ProductID,UserID,Activity,Browser,OS
14,1526366895249000000,Pr100017,U106593,click,Chrome Mobile,Android
21,1527058921790000000,Pr101008,U108297,NaN,Chrome Mobile,Android
23,2018-05-10 06:28:53.391,Pr100241,U132443,NaN,Firefox,Windows
24,2018-05-08 12:40:02.153,pr100495,U134616,click,Chrome,Windows
33,2018-05-11 15:35:43.689,Pr100363,U130784,click,Chrome,Chrome OS
...,...,...,...,...,...,...
6587964,NaN,NaN,U129703,pageload,Safari,Mac OS X
6587979,2018-05-21 05:20:36.193,pr101042,U104056,NaN,Chrome,Windows
6587983,2018-05-25 11:28:56.526,Pr100002,U106239,click,Chrome,Windows
6587984,2018-05-10 12:23:21.786,pr100060,U111562,click,Chrome,windows
6587994,NaN,pr100166,U123536,NaN,Chrome,Windows

In [11]:
visitor_log_df.ProductID.fillna('Product101', inplace=True)

C:\Users\ASUS\Anaconda3\lib\site-packages\pandas\core\series.py:4469: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [12]:
visitor_log_df.replace(
    ['click','pageload','windows','android','mac os x','linux','ios','ubuntu','chrome os','fedora','other','tizen','freebsd',
     'solaris'],
    ['CLICK','PAGELOAD','Windows','Android','Mac OS X','Linux','iOS','Ubuntu','Chrome OS','Fedora','Other','Tizen','FreeBSD',
     'Solaris'],
    inplace=True)

C:\Users\ASUS\Anaconda3\lib\site-packages\pandas\core\frame.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [13]:
visitor_log_df.OS.value_counts()

Windows      463639
Android       89184
Mac OS X      55260
Linux         24020
Ubuntu        13337
iOS            4390
Chrome OS       709
Fedora          141
Tizen            15
Name: OS, dtype: int64

In [14]:
visitor_log_df.Activity.value_counts()

CLICK       395613
PAGELOAD    167325
Name: Activity, dtype: int64

In [15]:
visitor_log_df.Activity[visitor_log_df.UserID.notna()].isnull().sum()

87757

In [16]:
visitor_log_df.UserID.nunique()

34050

In [17]:
pd.to_datetime(['23-05-2018 06:40:28'])

DatetimeIndex(['2018-05-23 06:40:28'], dtype='datetime64[ns]', freq=None)

In [18]:
pd.to_datetime(int('1527051855673000000'))

Timestamp('2018-05-23 05:04:15.673000')

In [19]:
pd.to_datetime(1526366895249000000, unit='ns')

Timestamp('2018-05-15 06:48:15.249000')

In [20]:
pd.to_datetime(['23-05-2018 06:40:28', 1526366895249000000])

DatetimeIndex(['2018-05-23 06:40:28', '2018-05-15 06:48:15.249000'], dtype='datetime64[ns]', freq=None)

In [21]:
import sys
sys.maxsize

9223372036854775807

In [22]:
pd.to_datetime('2017-04-30 10:17:36.999799+00:00').tz_localize(None)

Timestamp('2017-04-30 10:17:36.999799')

In [23]:
len(visitor_log_df.VisitDateTime)

650695

In [24]:
visitor_log_df.VisitDateTime.isnull().sum()

64803

In [25]:
visitor_log_df[visitor_log_df.UserID.notna()]['VisitDateTime'].isnull().sum()

64803

In [26]:
str(pd.to_datetime(['2018-05-07 00:00:00.000']).astype(int))[12:31]

'1525651200000000000'

In [27]:
int(str(pd.to_datetime(['2018-05-07 00:00:00.000']).astype(int))[12:31])

1525651200000000000

In [28]:
str(pd.to_datetime(['23-05-2018 06:40:28']).astype(int))[12:31]

'1527057628000000000'

In [29]:
pd.to_datetime(1527057628000000000)

Timestamp('2018-05-23 06:40:28')

In [30]:
x=[]
for date in visitor_log_df['VisitDateTime']:
    if type(date) != str:
        x.append(date)
len(x)

64803

In [31]:
datetime.datetime.fromtimestamp(int(1527057628000000000)/(1000*1000*1000))

datetime.datetime(2018, 5, 23, 12, 10, 28)

In [32]:
datetime.datetime.utcfromtimestamp(int('1527051855673000000')/1000000000).strftime('%Y-%m-%d %H:%M:%S')

'2018-05-23 05:04:15'

In [33]:
a = visitor_log_df.VisitDateTime

In [34]:
a

14             1526366895249000000
21             1527058921790000000
23         2018-05-10 06:28:53.391
24         2018-05-08 12:40:02.153
33         2018-05-11 15:35:43.689
                    ...
6587964                        NaN
6587979    2018-05-21 05:20:36.193
6587983    2018-05-25 11:28:56.526
6587984    2018-05-10 12:23:21.786
6587994                        NaN
Name: VisitDateTime, Length: 650695, dtype: object

In [36]:
for i,n in enumerate(a):
    if type(n) == str:
        if len(n) == 19:
            a[i] = pd.to_datetime(int(n))

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

KeyboardInterrupt:

In [52]:
#q = pd.to_datetime(q)
#q

select only user id not null rows

In [ ]:
for i,n in enumerate(visitor_log_df.VisitDateTime):
    if type(n) == str:
        if len(n) == 19:
            visitor_log_df.VisitDateTime[i] = pd.to_datetime(int(n))

C:\Users\ASUS\Anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
C:\Users\ASUS\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:
visitor_log_df[visitor_log_df.VisitDateTime == '1527051855673000000']

               VisitDateTime ProductID UserID Activity Browser        OS
13       1527051855673000000  Pr100526    NaN      NaN  Chrome  Mac OS X
6574276  1527051855673000000  Pr100526    NaN      NaN  Chrome  Mac OS X

In [51]:
visitor_log_df.head(20)

,VisitDateTime,ProductID,UserID,Activity,Browser,OS
14,1526366895249000000,Pr100017,U106593,CLICK,Chrome Mobile,Android
21,1527058921790000000,Pr101008,U108297,NaN,Chrome Mobile,Android
23,2018-05-10 06:28:53.391,Pr100241,U132443,NaN,Firefox,Windows
24,2018-05-08 12:40:02.153,pr100495,U134616,CLICK,Chrome,Windows
33,2018-05-11 15:35:43.689,Pr100363,U130784,CLICK,Chrome,Chrome OS
50,2018-05-19 00:02:31.347,pr100340,U120983,CLICK,Chrome,Windows
54,2018-05-19 04:51:45.337,Pr100166,U120287,CLICK,Chrome,Windows
61,2018-05-07 05:54:39.408,pr101042,U124307,CLICK,Chrome,Mac OS X
68,2018-05-23 09:44:44.023,Pr101042,U113937,CLICK,Safari,Mac OS X
69,2018-05-13 13:17:03.751,Pr101042,U115735,CLICK,Chrome,Windows
74,2018-05-16 12:39:44.279,Pr101964,U103943,CLICK,Chrome,Windows
102,2018-05-14 06:37:57.468,Pr100573,U125369,CLICK,Mobile Safari,iOS
106,2018-05-25 06:01:57.465,pr100044,U111160,CLICK,Chrome Mobile,Android
107,2018-05-19 18:48:06.399,pr100152,U106132,CLICK,Chrome,Mac OS X
120,2018-05-17 23:26:51.072,Pr101614,U123525,PAGELOAD,Chrome Mobile,Android
140,2018-05-21 05:28:46.221,Pr100339,U119431,CLICK,Chrome,Windows
146,2018-05-16 04:47:17.675,Pr100784,U101041,CLICK,Chrome,Windows
170,2018-05-07 08:28:24.727,Pr101042,U101158,CLICK,Chrome,Windows
174,1526829725361000000,Pr100193,U120095,CLICK,Chrome,Windows
177,2018-05-15 11:07:08.321,Pr100106,U110592,CLICK,Chrome,Mac OS X

In [84]:
a = []

start = int(str(pd.to_datetime(['2018-05-07 00:00:00.000']).astype(int))[12:31])
end = int(str(pd.to_datetime(['2018-05-27 00:00:00.000']).astype(int))[12:31])

for date in visitor_log_df['VisitDateTime']:
    if type(date) == str:
        if len(date) == 23:
            a.append(int(str(pd.to_datetime([date]).astype(int))[12:31]))
        else:
            a.append(int(date))
    else:
        a.append(int(np.random.uniform(low=start, high=end, size=None)))

visitor_log_df['VisitTimeDate'] = a
#visitor_log_df.drop(['VisitDateTime'], axis=1, inplace=True)

KeyboardInterrupt:

In [40]:
pd.to_datetime(user_df['Signup Date']).dt.tz_localize(None)

0       2018-04-14 07:01:16.202607
1       2017-12-02 09:38:41.584270
2       2013-03-19 11:38:55.000000
3       2018-01-18 08:29:51.627954
4       2018-03-27 08:05:28.806800
                   ...
34045   2018-03-19 12:35:10.857456
34046   2018-02-28 08:29:22.966713
34047   2018-03-04 13:03:12.828673
34048   2018-01-22 16:16:35.289000
34049   2017-12-12 09:10:16.457806
Name: Signup Date, Length: 34050, dtype: datetime64[ns]

In [41]:
user_df

        UserID                       Signup Date User Segment
0      U133159  2018-04-14 07:01:16.202607+00:00            C
1      U129368  2017-12-02 09:38:41.584270+00:00            B
2      U109654         2013-03-19 11:38:55+00:00            B
3      U108998  2018-01-18 08:29:51.627954+00:00            C
4      U131393  2018-03-27 08:05:28.806800+00:00            B
...        ...                               ...          ...
34045  U134073  2018-03-19 12:35:10.857456+00:00            B
34046  U113667  2018-02-28 08:29:22.966713+00:00            B
34047  U128470  2018-03-04 13:03:12.828673+00:00            B
34048  U104005  2018-01-22 16:16:35.289000+00:00            B
34049  U125524  2017-12-12 09:10:16.457806+00:00            B

[34050 rows x 3 columns]